% rebase('base.html', stanje=stanje, ROOT=ROOT)



<h1> Vaši oglasi so:</h1>
<table>
    <tr>
        <th>Ime</th>
        <th>Opis</th>
        <th>Zacetna cena</th>
        <th>Konec</th>
        <th>Odstrani</th>
    </tr>
%for id, ime, opis, konec, cena in oglasi:
<tr>
    <td><a href="{{ROOT}}oglas/{{id}}">{{ime}}</td>
    <td>{{opis}}</td>
    <td>{{cena}} €</td>
    <td>{{konec}}</td>
    <form action='{{ROOT}}uporabnik/oglasi/{{id}}' class="form-signin text-center" method='post' style="width: 30%;margin-top: 5cm">
    <th><input value='Odstrani' type='submit' /></th>
    </form>    
</tr>
%end
</table>