% rebase('base.html', stanje=stanje, ROOT=ROOT)
 

<div align="center">
<form action='{{ROOT}}prijava/' class="form-signin text-center" method='post' style="width: 30%;margin-top: 5cm">
    <div class="h3 mb-3 font-weight-normal">
    <span>Uporabniško ime:</span><input name='uid' type='text' />
    <br>
    <span>Geslo:</span><input name='geslo' type='password' />
    <br>
    <input value='Prijava' type='submit' />
    </div>
    %if napaka == 1:
    <h3> <b>Napačno uporabniško ime ali geslo, poizkusite še enkrat!</b></h3>
    %end    
</form>
</div>
