%rebase('base.html', stanje=stanje, ROOT=ROOT)

<br>

<h2 align=center><b>Pozdravljeni {{ime}} {{priimek}}, kaj želite storiti?</h2></b>

<br>

<div style='position: center;margin: auto;max-width: 55%;'>
  <center><div class="row">
    <div class="item1">
        <h2>Tvoje ponudbe</h2>
        <p>Vse ponudbe ki ste jih ustvarili. </p>
        <a href="{{ROOT}}uporabnik/ponudbe" class="button">Tvoje ponudbe</a>
    </div>
    <div class="item2">
        <h2>Tvoji oglasi</h2>
        <p>Vsi oglasi, ki ste jih dodali. </p>
        <a href="{{ROOT}}uporabnik/oglasi" class="button">Tvoji oglasi</a>
    </div>
</div>
</div></center>

