%rebase('base.html', stanje=stanje, ROOT=ROOT)

<br>

<h2 align=center><b>Pozdravljeni {{ime}} {{priimek}}, kaj želite storiti?</h2></b>

<br>

<div style='position: center;margin: auto;max-width: 500px;'>
  <center><div class="row">
    <div class="item1">
        <h2>Tvoje ponudbe</h2>
        <p>Vse ponudbe ki ste jih ustvarili. </p>
        <a href="{{ROOT}}uporabnik/ponudbe" class="button">Tvoje ponudbe</a>
    </div>
    <div class="item2">
        <h2>Tvoji oglasi</h2>
        <p>Vsi oglasi, ki ste jih dodali. </p>
        <a href="{{ROOT}}uporabnik/oglasi" class="button">Tvoji oglasi</a>
    </div>
    <div class="item3">
        <h2>Dodaj oglas</h2>
        <p>Dodajte oglas, na katerega lahko drugi stavijo.</p>
        <a href="{{ROOT}}uporabnik/dodaj" class = "button">Dodaj oglas</a>
    </div>
    <div class="item4">
        <h2>Preglej končane</h2>
        <p>Preglejte zmage na ponudbah in vaše zaključene ponudbe.</p>
        <a href="{{ROOT}}uporabnik/koncane" class= "button">Preglej končane</a>
    </div>

</div>
</div></center>

